
nav{
  margin-top:-16rem;

}
.navdiv {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 95vw;
  padding: 10px 20px;
  border-radius: 50px;
  
  
  margin-top:0;
  background-color: black; /* Change the background color as needed */
  color: white; /* Change the text color as needed */
}

.navdiv ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* display:inline-block; */
  margin: 0;
  padding: 0;
}

.navdiv ul li {
  margin-right: 20px;
  font-size: 16px;

}

.navdiv a {
  text-decoration: none;
  color: white; /* Change the text color as needed */
}

.navdiv a:hover {
  transform: scale(1.1) ;
}

.navdiv button {
  
  background-color: blue ;/* Change the button background color as needed */
  color: white; /* Change the button text color as needed */
  /* border: none; */
  padding: 10px 20px;
  
  cursor: pointer;
}

.navdiv button:hover {
  background-color: blue; /* Change the button background color on hover as needed */
}
